.intro {
    font-style: italic;
    text-decoration-color: fuchsia;
}


.review {
   border-style: ridge;
   background-color: magenta;
   text-overflow: ellipsis;
}

.text-sort {
    border-style: dotted;
    text-decoration: aqua;
    border-radius: 0em;
    background-color: bisque;
    font-style: italic;
    fill-opacity: inherit;
    text-shadow: 0px, 2px, 3px #555555;

}
p.text-sort{
    font-size: 18px;
}

.cat-climate {
    background-color: yellow;
  }
    