.intro {
    font-style: italic;
    text-decoration-color: fuchsia;
}

.author {
    color: goldenrod;
    text-transform: capitalize;
    text-decoration-color: gold;
}

p.author {
     font-size: 16px;
     color: green;
}